/* Padding Helpers */
.pn {
  padding: 0 !important;
}

.p3 {
  padding: 3px !important;
}

.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p18 {
  padding: 18px;
}

.p20 {
  padding: 20px;
}

.p25 {
  padding: 25px;
}

.p30 {
  padding: 30px;
}

.pt2 {
  padding-top: 2px !important;
}
.pt3 {
  padding-top: 3px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt7 {
  padding-top: 7px !important;
}
.pt8 {
  padding-top: 8px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt12 {
  padding-top: 12px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt18 {
  padding-top: 18px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pt65 {
  padding-top: 65px !important;
}
.pt0 {
  padding-top: 0 !important;
}

.pb3 {
  padding-bottom: 3px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb7 {
  padding-bottom: 7px !important;
}
.pb8 {
  padding-bottom: 8px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb12 {
  padding-bottom: 12px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb18 {
  padding-bottom: 18px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pb65 {
  padding-bottom: 65px !important;
}
.pb0 {
  padding-bottom: 0 !important;
}

.pl3 {
  padding-left: 3px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl7 {
  padding-left: 7px !important;
}
.pl8 {
  padding-left: 8px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl12 {
  padding-left: 12px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl18 {
  padding-left: 18px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pl0 {
  padding-left: 0 !important;
}

.pr3 {
  padding-right: 3px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr7 {
  padding-right: 7px !important;
}
.pr8 {
  padding-right: 8px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr12 {
  padding-right: 12px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr18 {
  padding-right: 18px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pr0 {
  padding-right: 0 !important;
}

.iphoneX_safe {
  // padding-bottom: 34px;
  padding-bottom: env(safe-area-inset-bottom);
}

.pv5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.px5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.pv10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pp15-20 {
  padding: 20px 15px;
}

.pp30-20 {
  padding: 20px 30px;
}
